.first{
    background-color: coral;
    padding: 10px;

}
.img{
    font-family: monospace;
    color: slateblue;
}
.p{
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
    background-color: rgb(228, 179, 228);
}